/*
Welcome to Custom CSS!

CSS (Cascading Style Sheets) is a kind of code that tells the browser how
to render a web page. You may delete these comments and get started with
your customizations.

By default, your stylesheet will be loaded after the theme stylesheets,
which means that your rules can take precedence and override the theme CSS
rules. Just write here what you want to change, you don't need to copy all
your theme's stylesheet content.
*/
/*
	BREADCRUMBS
--------------------------------------------------------*/
div.breadcrumb {
	background-color: #fcfcfc;
	margin-bottom: 0;
	padding: 25px;
}

span.breadcrumbs-pre {
	color: #AAA;
	font-size: 90%;
}

h1.entry-title {
	font-size: 32px;
	line-height: 1.6;
}

/*
	BLOG PAGE
--------------------------------------------------------*/
body.blog article.entry {
/*border-top: 2px solid #ED581D;*/
	background-color: #FCFCFC;
	margin-bottom: 0;
	padding: 0;
}

body.blog h1.entry-title {
	text-align: left;
	margin-left: 130px;
	border-top: 2px solid #ED581D;
	padding-top: 10px;
}

body.blog article .entry-categories {
	padding: 1.5% 4.5%;
}

/*Blog Page LEFT ALIGNED Images */
body.blog article .entry-content a img.alignleft {
	margin: 0;
	padding: 4.5% 1.5% 1.5% 4.5%;
}

body.blog time.entry-time {
	background-color: #ED581D;
	padding: 25px;
	color: #FCFCFC;
	top: 0;
	left: 0;
	font: inherit;
	position: absolute;
	font-size: 21px;
}

body.blog span.entry-comments-link a {
	margin-left: 107px;
}

body.blog header.entry-header {
	position: relative;
}

body.blog .entry-footer .entry-meta {
	border-top: none;
	padding: 0;
}

body.blog .entry-content p {
	padding: 4.5%;
	margin: 0;
	font-size: 16px;
}

body.blog .entry-content p a {
	margin: 0;
	padding: 0;
	background-color: transparent;
	border: none;
	color: #ED581D;
	font-size: 18px;
}

body.blog .entry-header .entry-meta {
	margin-bottom: 0;
}

/* CONTACT ME
-----------------------------------------------------*/
body.contact-me div.breadcrumb {
	display: none;
}

/*
Embedded Google+ Posts
-----------------------------------------------------*/
body.google-plus-embed article.post {
	padding: 0;
	margin-bottom: 0;
	background-color: transparent;
}

body.google-plus-embed article.post header.entry-header {
	display: none;
}

/*
	CONTACT ME PAGE
------------------------------------------------------- */
.contact-form input[type='text'],
.contact-form input[type='email'],
.contact-form textarea {
	width: 100% !important;
	max-width: 100% !important;
}

/*
	SEARCH FORM WIDGET
------------------------------------------------------- */
section#search-3 {
	background-color: transparent;
	padding: 0;
}

form.search-form {
	height: 55px;
}

form.search-form input[type="search"] {
	width: 70%;
	border: none;
	height: 100%;
}

form.search-form input[type="submit"] {
	width: 29%;
	background-color: #ED581D;
	display: inline-block;
	height: 100%;
	position: initial;
	color: #FCFCFC;
	margin: 0;
	box-sizing: border-box;
	padding: 18px;
	clip: initial;
	border: none;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
}

form.search-form input[type="submit"]:hover {
	opacity: .7;
}

/*
	TEMP HOME PAGE STYLE
----------------------------------------------------- */
.textwidget {
	padding: 0;
}

.textwidget p {
	text-align: center;
}

p.test {
	width: 100%;
	padding: 15px;
	border-radius: 3px;
	border: 1px solid #ccc;
}

p.hero.full {
	min-height: 300px;
}

p.test.pre-header {
	height: 50px;
	background-color: #3D3D3D;
	color: #ED581D;
	line-height: 1;
}

p.main-content,
p.test.hero {
	height: 250px;
	background-color: #FCFCFC;
	line-height: 250px;
}

p.test.footer {
	background-color: transparent;
	border: none;
}

.herocontainer, .home-module-container {
	padding: 0;
}
